.request-button {
  color: white;
  background-color: black;
  height: 40px;
  width: 110px;
  cursor: pointer;
  border: none;
}
.add-to-cart-button {
  color: black;
  background-color: rgb(255,216,20);
  height: 30px;
  width: 120px;
  border: none;
  border-radius: 15px;
  margin-left: 10px;
  font-size: 13px;
  cursor: pointer;
}
.sign-up-button {
  background-color: rgb(46, 164, 79);
  border: none;
  border-radius: 3px;
  color: white;
  height: 30px;
  width: 80px;
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}
.get-started-button {
  color: white;
  background-color: rgb(121,82,179);
  font-weight: bold;
  font-size: 13px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  height: 30px;
  width: 100px;
}
.download-button {
  color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
  border-radius: 3px;
  background-color: white;
  font-weight: bold;
  font-size: 13px;
  height: 30px;
  width: 90px;
  border: solid;
  margin-top: 10px;
  cursor: pointer;
}
.apply-on-company-website {
  color: white;
  background-color: rgb(10, 102, 194);
  height: 30px;
  border-radius: 15px;
  width: 230px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
}
.save-button {
  color: rgb(10, 102, 194);
  background-color: white;
  border: solid;
  border-radius: 15px;
  height: 30px;
  width: 55px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;

}